#vlightbox1 {
	WIDTH: 100%; ZOOM: 1;
}
#vlightbox1 .vlightbox {
	POSITION: relative;
	TEXT-ALIGN: center;
	MARGIN: 0px;
	WIDTH: 80;
	margin-left:0px;
	height:70;
	padding-bottom:0px;
	ZOOM: 1;
	DISPLAY: inline-block;
	FONT-FAMILY:Arial, Helvetica, sans-serif,;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: top;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	opacity: 0.87;
}
#vlightbox1 .vlightbox A {
	MARGIN: 0px
}
#vlightbox1 .vlightbox:hover {
	TEXT-DECORATION: none; opacity: 1
}
#vlightbox1 .vlightbox A:hover {
	TEXT-DECORATION: none; opacity: 1
}
#vlightbox1 .vlightbox IMG {
	BORDER-BOTTOM:14px solid #544E34; BORDER-LEFT:2px solid #544E34; MARGIN: 0px; DISPLAY: block; BORDER-TOP:2px solid #544E34; BORDER-RIGHT:2px solid #544E34;
}
#vlightbox1 .vlightbox IMG:hover {
	BORDER-BOTTOM:14px solid #3C1802; BORDER-LEFT:2px solid #3C1802; MARGIN: 0px; DISPLAY: block; BORDER-TOP:2px solid #3C1802; BORDER-RIGHT:2px solid #3C1802;
}

#vlightbox1 .vlightbox DIV {
	DISPLAY: none
}







#vlightbox3 {
	WIDTH: 100%; ZOOM: 1;
}
#vlightbox3 .vlightbox {
	POSITION: relative;
	TEXT-ALIGN: center;
	MARGIN: 0px;
	WIDTH: 80;
	margin-left:0px;
	height:70;
	padding-bottom:0px;
	ZOOM: 1;
	DISPLAY: inline-block;
	FONT-FAMILY:Arial, Helvetica, sans-serif,;
	FONT-SIZE: 11px;
	VERTICAL-ALIGN: top;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	opacity: 0.87;
}
#vlightbox3 .vlightbox A {
	MARGIN: 0px
}
#vlightbox3 .vlightbox:hover {
	TEXT-DECORATION: none; opacity: 1
}
#vlightbox3 .vlightbox A:hover {
	TEXT-DECORATION: none; opacity: 1
}
#vlightbox3 .vlightbox IMG {
	BORDER-BOTTOM:1px solid #544E34; BORDER-LEFT:1px solid #544E34; MARGIN: 0px; DISPLAY: block; BORDER-TOP:1px solid #544E34; BORDER-RIGHT:1px solid #544E34;
}
#vlightbox3 .vlightbox IMG:hover {
	BORDER-BOTTOM:1px solid #3C1802; BORDER-LEFT:1px solid #3C1802; MARGIN: 0px; DISPLAY: block; BORDER-TOP:1px solid #3C1802; BORDER-RIGHT:1px solid #3C1802;
}

#vlightbox3 .vlightbox DIV {
	DISPLAY: none
}


